* {
	margin: 0px;
	padding: 0px;
}

html,
body {
	width: 100%;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}


/*居中*/

div {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.logo {
	float: left;
}


/*导航盒子*/

#dao {
	height: 60px;
	background-color: #393e46;
	text-align: center;
}


/*导航*/

.a {
	width: 1200px;
	margin: 0 auto;
}

.a li a {
	color: white;
}

.a li {
	width: 85px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	float: left;
	font-size: 20px;
}


/*鼠标悬停*/

.a li:hover a {
	color: darkseagreen;
}

.right {
	position: absolute;
	top: 0;
	right: 0;
}


/*登录*/

.dl {
	float: right;
	text-decoration: none;
	font-size: 20px;
	line-height: 60px;
	margin-right: 20px;
}

.more {
	width: 140px;
	float: right;
	text-decoration: none;
	font-size: 20px;
	line-height: 60px;
	position: relative;
	display: inline-block;
}

.more:hover>a {
	color: darkseagreen;
}

.moo:hover a {
	color: darkseagreen;
}


/*下拉内容-默认隐藏*/

.mo {
	display: none;
	position: absolute;
	min-width: 100px;
	text-align: center;
	background-color: #393e46;
	padding-left: 25px;
	padding-right: 10px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 99;
}

.mo li a {
	color: white;
}

.more:hover .mo {
	display: block;
}

.dl a {
	color: white;
}

.more a {
	color: white;
}

.dl:hover a {
	color: darkseagreen;
}


/*搜索框*/

.sou {
	float: right;
}

#myBtn {
	background-color: lightgrey;
	border-radius: 25px;
	height: 50px;
	width: 50px;
	position: fixed;
	bottom: -520px;
	/*定位元素下外边距边界与其包含块下边界之间的偏移*/
	right: -1330px;
	border: none;
	outline: none;
	color: whitesmoke;
	cursor: pointer;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
}

#myBtn:hover {
	background-color: grey;
}
/*底部个人信息版权信息等*/
.name {
	width: 100%;
	background: grey;
	height: 100px;
	text-align: center;
	padding-top: 70px;
}


/*二级导航栏*/

.dd {
	width: 1200px;
	height: 70px;
	position: relative;
	top: 0;
	background-color: whitesmoke;
	list-style: none;
	text-decoration: none;
	padding-bottom: 5px;
}

.dd ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.dd ul li {
	width: 100%;
	text-align: center;
}

.dd ul li a {
	color: black;
	font: 25px "微软雅黑";
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
}


/*鼠标悬停*/

.dd li:hover a {
	color: whitesmoke;
	border-radius: 10px;
	background-color: lightgrey;
}

#on {
	color: cornflowerblue;
}
/*bot标题*/
.bot{
	text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 10px;
	padding-top: 10px;
}
.bot .line{
	display: inline-block;
	border-top: 1px solid black;
	width: 250px;
}
.bot .title{
	color: black;
	font-size: 25px;
	vertical-align: -10px;
	font-family: "宋体";
}

/*内容作品*/
/*区域限制大小,分布,圆角值*/
.aa {
	width: 900px;
	height: 380px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	border-radius: 7px;
}
/*图片效果,延时超出隐藏等等*/
.b5 {
	transition: .7s;
	box-shadow: -2px 0 15px 0;
	overflow: hidden;
}
/*鼠标移动到图片上时设置 flex 项 主尺寸的 flex 增长系数*/
.b5:hover {
	flex-shrink: 0;
	flex-grow: 0;
}
/*图片尺寸*/
.aa img {
	width: 400px;
}
/*又一个小导航栏*/
/*限定范围区域*/
.d1 {
	width: 900px;
	height: 60px;
	position: relative;
	top: 0;
	background-color: white;
	list-style: none;
	text-decoration: none;
	padding-bottom: 5px;
	margin-top: 5px;
}
/*弹性布局*/
/*居中对齐弹性盒的各项元素*/
.d1 ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.d1 ul li {
	width: 100%;
	text-align: center;
}

.d1 ul li a {
	color:dimgrey;
	font: 23px "微软雅黑";
	display: block;
	width: 100%;
	height: 100%;
	line-height: 70px;
}

/*鼠标悬停*/

.d1 li:hover a {
	width: 130px;
	border-radius: 10px;
	background-color: whitesmoke;
	transition:0.5s;
}
#dong{
	font-weight: bold;
	color: black;
	border-radius: 10px;
	width: 140px;
	background-color: #f5f5f5;
}
/*内容*/
/*热门内容——瀑布*/
/*大小*/
.con{
	width: 900px;
	margin: 10px auto;
	columns: 4;
	column-gap: 40px;
	margin-top: 7px;
	line-height: 27px;
}
/*每个单独图文内容设置属性*/
.con .bo{
	width: 100%;
	margin: 0 0 20px;
	padding: 10px;
	background: whitesmoke;
	overflow: hidden;
	break-inside: avoid;		/*规定在指定元素内部是否应发生分页\分类\分区*/
	/*avoid避免在元素内出现页、列、区域中断。*/
	border-radius: 6px;
}
.con .bo img{
	max-width: 100%;
}
.con .bo h3{
	margin: 10px 0 0;
	padding: 0;
	font-size: 20px;
}
.con .bo p{
	margin: 0;
	padding: 0 0 10px;
	font-size: 16px;
}
/*可用于基于一个或多个媒体查询的结果来应用样式表的一部分*/
@media (max-width:900px) {
	.con{
		columns: 3;
		width: calc(100% - 40px);
		box-sizing: border-box;
		padding: 20px 20px 20px 0;
	}
}
@media (max-width:700px) {
	.con{
		columns: 2;
	}
}
@media (max-width: 450px) {
	.con{
		columns: 1;
	}
}
.bo:hover{
	transform: scale(1.03);
}

/*悬浮文字*/
.b{
	position: relative;
	display: inline-block;
	overflow: hidden;
}
.b:hover img{
	transform: scale(1.1);		/*放大倍数*/
}
.b img{
	transition: all 2s;	/*	放大动画时间*/
}
/*more标题*/
.hot{
	width: 1200px;
	height: 50px;
	background-color:white;
	margin: 0px auto;
	padding: 40px;
	text-align: center;
	font-size: 25px;
	font-family: "宋体";
}
.hot:hover a{
	color: dimgrey;
}
